# Variáveis de ambiente necessárias para a aplicação
MP_ACCESS_TOKEN=APP_USR-1779915323498167-120406-7bd7b57f348d130c62a7f57975217fef-3039297620
NEXT_PUBLIC_SITE_URL=https://voltris.com.br

# Versão do Node.js
NODE_VERSION=22.x